extends ../../layouts/default.pug
include ../../mixins/box-head.pug
block content 
  .container.my-3
    .row
      .col-12
        +box-head(title)

    ul
      each item in tours
        li
            a(href=`/tours/${item.id}`) #{item.title}